<div class="split left">
  <div class="centered">
    <img class="logo" class="rounded" alt="Responsive image" style="width:500px;height:500px;" src="../../../assets/img/The Boys.jpg">
    </div>
</div>

<div class="split right">
  <div class="centered">
    <p>
      <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/sucursal-a'">Sucursal A</button>
    </p>
    <p>
      <button type="button" class="fixed-bottom" class="btn btn-primary" [routerLink]="'/sucursal-b'">Sucursal B</button>
    </p>
    <p>
    <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/sucursal-c'">Sucursal C</button>
    </p>
    
  </div>
</div>