<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Trabajadores</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">Cédula</th>
      <th>Nombre</th>
      <th>Fecha Nacimiento</th>
      <th>Fecha Ingreso</th>
      <th>Sucursal</th>
      <th>Rol</th>
      <th>Salario Hora</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.IndentificationCard}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.BirthDate}}</td>
      <td>{{user.AdmissionDate}}</td>
      <td>{{user.BranchOffice}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.HourlyWage}}</td>
      <td><button class="btn btn-success" > Eliminar</button>
        <button class="btn btn-success" style="margin-left: 20px;" > Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
