<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Trabajadores</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" [routerLink]="'/anadir-trabajadores'"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">#</th>
      <th>Nombre</th>
      <th>Apellido 1</th>
      <th>Apellido 2</th>
      <th>Cedula</th>
      <th>Fecha Nacimiento</th>
      <th>Fecha Ingreso</th>
      <th>Sucursal</th>
      <th>Salario Hora</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of trabajadores">
      <td class="hidden"></td>
      <td>{{user.num}}</td>
      <td>{{user.nombre}}</td>
      <td>{{user.ape1}}</td>
      <td>{{user.ape2}}</td>
      <td>{{user.ced}}</td>
      <td>{{user.fnac}}</td>
      <td>{{user.fing}}</td>
      <td>{{user.sucursal}}</td>
      <td>{{user.salariohora}}</td>
      <td><button class="btn btn-success" (click)="delete(trabajadores._id)"> Eliminar</button>
        <button class="btn btn-success" style="margin-left: 20px;" routerLink ="/editar-trabajadores/{{trabajadores._id}}"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
