<div class="split left">
  <div class="centered">
    <!--Encabezado Vista de Añadir Rol-->
    <h2>Añadir Rol</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Añadir.png">
  </div>
</div>

<div class="split right">
<div class="col-md-6 user-container">
    
    
      <div class="form-group">
        <!--Contenedor para Ingresar Nombre-->
        <label for="id"><b>Nombre</b>:</label>
        <input [(ngModel)]="Nombre" placeholder="ID" name="id" class="form-control" id="id">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Descripcion-->
        <label for="nombre"><b>Descripcion</b></label>
        <input [(ngModel)]="Descripcion" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
      </div>
      <!--Boton de Añadir-->
      <button class="btn btn-success" (click)="PostData()" >Añadir</button>
      <p>Prueba: {{Funciono}}</p>
    
  </div>
  </div>