<div class="col-md-12 user-container">
  <!--Encabezado Vista-->
  <h2 style="margin: auto; padding: 10px"> Listado de Gastos Sucursal B</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <!--Divisiones de la Tabla-->
      <th class="hidden">Fecha</th>
      <th>Proveedor</th>
      <th>Descripción</th>
      <th>Monto</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <!--Informacion de la Tabla-->
      <td>{{user.fechagsb}}</td>
      <td>{{user.proveedorgsb}}</td>
      <td>{{user.descripciongsb}}</td>
      <td>{{user.montogsb}}</td>
    </tr>
    </tbody>
  </table>
</div>