<div class="split left">
  <div class="centered">
    <!--Encabezado Vista-->
    <h2>Editar Rol</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Editar.png">
  </div>
</div>

<div class="split right">
<div class="col-md-6 user-container">
    
    
      <div class="form-group">
        <!--Contenedor para Ingresar Nombre-->
        <label for="id"><b>Nombre</b>:</label>
        <input [(ngModel)]="productRol.rol_id" placeholder="ID" name="id" class="form-control" id="id">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Descripcion-->
        <label for="nombre"><b>Descripción</b></label>
        <input [(ngModel)]="productRol.rol_nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
      </div>
  
      <button class="btn btn-success"[routerLink]="'/gestion-roles'">Guardar</button>
    
  </div>
  </div>