 <div class="split left">
   <div class="centered">
     <!--Encabezado Vista-->
       <h2>Editar Trabajadores</h2>
      <img class="logo"  class= "rounded" alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Editar.png">
    </div>
  </div>
  
  <div class="split right">
  <div class="col-md-6 user-container">
      
      
        <div class="form-group">
          <!--Contenedor para Ingresar Cédula-->
          <label for="trabnumero"><b> Cédula </b>:</label>
          <input [(ngModel)]="productTrabajadores.trab_num" placeholder="Consecuente" name="trabnumero" class="form-control" id="trabnumero">
        </div>
    
        <div class="form-group">
          <!--Contenedor para Ingresar Nombre-->
          <label for="nombre"><b>Nombre</b></label>
          <input [(ngModel)]="productTrabajadores.trab_nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
        </div>
    
        <div class="form-group">
          <!--Contenedor para Ingresar Fecha Nacimiento-->
          <label for="cedula"><b>Fecha Nacimiento</b></label>
          <input [(ngModel)]="productTrabajadores.trab_ced" placeholder="Cédula" name="cedula" class="form-control" id="cedula">
        </div>
  
        <div class="form-group">
          <!--Contenedor para Ingresar Fecha Ingreso-->
          <label for="fnacimiento"><b>Fecha Ingreso</b></label>
          <input type="date" [(ngModel)]="productTrabajadores.trab_fnac" placeholder="Fecha Nacimiento" name="fnacimiento" class="form-control" id="fnacimiento">
        </div>
  
        <div class="form-group">
          <!--Contenedor para Ingresar Sucursal-->
            <label for="fingreso"><b>Sucursal</b></label>
            <input type="date" [(ngModel)]="productTrabajadores.trab_fing" placeholder="Fecha Ingreso" name="fingreso" class="form-control" id="fingreso">
        </div>
  
        <div class="form-group">
          <!--Contenedor para Ingresar Rol-->
            <label for="sucursaltrab"><b>Rol</b></label>
            <input [(ngModel)]="productTrabajadores.trab_sucursal" placeholder="Sucursal" name="sucursaltrab" class="form-control" id="sucursaltrab">
        </div>
  
        <div class="form-group">
          <!--Contenedor para Ingresar Salario por Hora-->
            <label for="salhora"><b>Salario por Hora</b></label>
            <input [(ngModel)]="productTrabajadores.trab_salxh" placeholder="Salario" name="salhora" class="form-control" id="salhora">
        </div>
        
        <!--Boton para Guardar-->
        <button class="btn btn-success" >Guardar</button>
      
    </div>
    </div>