<!--Creacion de la Vista de Administracion
Aqui estan todos los botones que nos redigiran a las otras vistas de esat categoría-->

<div class="split left">
    <div class="centered">
        <p>
          <!--Boton para Gestion de Roles-->
            <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/gestion-roles'">Gestion de Roles</button>
          </p>
          <p>
            <!--Boton para Gestion de Sucrsales-->
            <button type="button" class="fixed-bottom" class="btn btn-primary" [routerLink]="'/gestion-sucursales'">Gestion de Sucursales</button>
          </p>
          <p>
            <!--Boton para Gestion de Trabajadores-->
          <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/gestion-trabajadores'">Gestion de Trabajadores</button>
          </p>
          <p>
            <!--Boton para Gestion de Proveedores-->
              <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/gestion-proveedores'">Gestion de Proveedores</button>
          </p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <p>
        <!--Boton para Gestion de Productos-->
        <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/gestion-productos'">Gestion de Productos</button>
      </p>
      <p>
        <!--Boton para Gestion de Compras-->
        <button type="button" class="fixed-bottom" class="btn btn-primary" [routerLink]="'/gestion-compras'">Gestion de Compras</button>
      </p>
      <p>
        <!--Boton para la Asignacion de Horas-->
      <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/asignacion-horas-laboradas'">Asignacion Horas laboradas</button>
      </p>
      <p>
        <!--Boton para Generacion de la Planilla-->
          <button type="button" class="fixed-top" class="btn btn-primary" [routerLink]="'/generacion-planilla'">Generar Planilla</button>
      </p>
    </div>
  </div>
