<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="4">
              <table>
                   <tr>
                    
                      <td class="title">
                          <img src="../../../assets/img/L3M.png" style="width:100%; max-width:200px;">
                      </td>
                      
                      <td>
                        <br>
                          Supermercados Las 3 Marias<br>
                          Fecha: 16 de Agosto 2019<br>
                          Telefono: 2290 8732
                        
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
     
      <tr class="heading">
          <td>
              Cajero
          </td>
          <td></td>
          <td></td>
          <td>
              Sucursal 
          </td>
      </tr>
      
      <tr class="details">
          <td>
              Pablo Azofeifa
          </td>
          <td></td>
          <td></td>
          <td>
              Cartago
          </td>
      </tr>
      
      <tr class="heading">
          <td>
              Producto
          </td>
          <td>
              Cantidad
          </td>
          <td>
             Precio Unitario
          </td>
          <td>
             Precio Total
          </td>
      </tr>
      
      <tr class="item">
          <td>
              Papas Kitty 300g
          </td>
          <td>
              3
          </td>
          <td>
             250
          </td>
          <td>
             750
         </td>
      </tr>

      <tr class="item">
        <td>
            Coca Cola 600 ml
        </td>
        <td>
            1
        </td>
        <td>
           800
        </td>
        <td>
           800
       </td>
    </tr>

    <tr class="item">
       <td>
           Leche Condensada 180g
       </td>
       <td>
           4
       </td>
       <td>
          950
       </td>
       <td>
          3800
       </td>
    </tr>

      <tr class="heading">
          <td></td>
          <td></td>
          <td></td>
          <td>
             Total: 5350.00
          </td>
      </tr>
      <tr class="heading">
        <td></td>
        <td></td>
        <td></td>
        <td>
           Impuestos: 1200.00
        </td>
    </tr>
    <tr class="heading">
      <td></td>
      <td></td>
      <td></td>
      <td>
         Descuento: 0.00
      </td>
  </tr>
  </table>
</div>