<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Facturación</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Cajero</th>
      <th>Sucursal</th>
      <th>Productos(s)</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio Total</th>
      <th>Venta Total</th>
      <th>Descuento</th>
      <th>Impuesto</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>