<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Facturación</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">Cajero</th>
      <th>Sucursal</th>
      <th>Productos(s)</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio Total</th>
      <th>Venta Total</th>
      <th>Descuento</th>
      <th>Impuesto</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.cajero}}</td>
      <td>{{user.sucursal}}</td>
      <td>{{user.productos}}</td>
      <td>{{user.cantidad}}</td>
      <td>{{user.punit}}</td>
      <td>{{user.ptotal}}</td>
      <td>{{user.vtotal}}</td>
      <td>{{user.descuento}}</td>
      <td>{{user.impuesto}}</td>
    </tr>
    </tbody>
  </table>
</div>