<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Productos</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" (click)="add()"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">Nombre</th>
      <th>Descripcion</th>
      <th>Código Baras</th>
      <th>Proveedor</th>
      <th>Precio Compra</th>
      <th>Impuesto</th>
      <th>Descuento</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of productos">
      <td class="hidden"></td>
      <td>{{user.nombre}}</td>
      <td>{{user.descripcion}}</td>
      <td>{{user.code}}</td>
      <td>{{user.proveedor}}</td>
      <td>{{user.pcomp}}</td>
      <td>{{user.imp}}</td>
      <td>{{user.desc}}</td>
      <td><button class="btn btn-success" (click)="delete(productos._id)"> Eliminar</button>
        <button class="btn btn-success" style="margin-left: 20px;"routerLink ="/editar-productos/{{productos._id}}"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>