<div class="col-md-12 user-container">
    <!--Encabezado de la Vista-->
      <h2 style="margin: auto; padding: 10px"> Asignacion Horas Laboradas</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <!--Divisione de la Tabla-->
          <th></th>
          <th class="hidden">Nombre</th>
          <th>Inicio Semana</th>
          <th>Termino Semana</th>
          <th>Horas Extra</th>
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden"></td>
          <!--Informacion con que se llenara las Tablas-->
          <td>{{user.Name}}</td>
          <td>{{user.WeekBeginning}}</td>
          <td>{{user.WeekEnd}}</td>
          <td>{{user.WorkedHours}}</td>
            
        </tr>
        </tbody>
      </table>
      <button class="btn btn-danger" style="width:200px; margin: 15px; float:right"> Crear Planilla</button>
    </div>