<div class="col-md-12 user-container">
  <!--Encabezado Vista-->
  <h2 style="margin: auto; padding: 10px"> Listado de Productos</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <!--Division de la Tabla-->
      <th class="hidden">Código Barra</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio Sucursal</th>
      <th>Existencia</th>
      <th>Sucursal</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <!--Informacion de la Tabla-->
      <td>{{user.Barcode}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.Description}}</td>
      <td>{{user.BranchPrice}}</td>
      <td>{{user.Stock}}</td>
      <td>{{user.BranchOffice}}</td>
        </tr>
    </tbody>
  </table>
</div>