<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Listado de Productos</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">Producto</th>
      <th>Costo Producto</th>
      <th>Existencia</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.producto}}</td>
      <td>{{user.precioprod}}</td>
      <td>{{user.existencia}}</td>
        </tr>
    </tbody>
  </table>
</div>