<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Proveedores</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right"(click)="add()"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">#</th>
      <th>Proveedor</th>
      <th>Cédula</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of proveedores">
      <td class="hidden"></td>
      <td>{{user.num}}</td>
      <td>{{user.proveedor}}</td>
      <td>{{user.cedula}}</td>
        <td><button class="btn btn-success" (click)="delete(proveedores._id)"> Eliminar</button>
        <button class="btn btn-success" style="margin-left: 20px;" routerLink ="/editar-compras/{{proveedores._id}}"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
