<div class="split left">
  <div class="centered">
    <h2>Añadir Productos</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Añadir.png">
  </div>
</div>

<div class="split right">
<div class="col-md-6 user-container">
 
      <div class="form-group">
        <!--Contenedor para Ingresar Codigo de Barras-->
        <label for="nombre"><b>Código Barras</b></label>
        <input [(ngModel)]="productProductos.prod.nombre"  placeholder="Nombre" name="nombre" class="form-control" id="nombre">
      </div>

      <div class="form-group">
        <!--Contenedor para Ingresar Nombre-->
          <label for="descripcion"><b>Nombre</b>:</label>
          <input [(ngModel)]="productProductos.prod.desc"  placeholder="Descripción" name="descripcion" class="form-control" id="descripcion">
        </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Descripcion-->
        <label for="code"><b>Descripción</b></label>
        <input [(ngModel)]="productProductos.prod.code"  placeholder="Código" name="code" class="form-control" id="code">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Precio-->
        <label for="proveedor"><b>Precio</b></label>
        <input [(ngModel)]="productProductos.prod.prov"  placeholder="Nombre" name="proveedor" class="form-control" id="proveedor">
      </div>
  
      <div class="form-group">
        <!--Contenedor para Ingresar Proveedor-->
        <label for="pcompra"><b>Proveedor</b></label>
        <input [(ngModel)]="productProductos.prod.compra"  placeholder="Precio" name="pcompra" class="form-control" id="pcompra">
      </div>

      <div class="form-group">
        <!--Contenedor para Ingresar Impuesto-->
        <label for="imp"><b>Impuesto</b>:</label>
        <input [(ngModel)]="productProductos.prod.imp"  placeholder="Impuesto" name="imp" class="form-control" id="imp">
      </div>

      <div class="form-group">
        <!--Contenedor para Ingresar Descuento-->
          <label for="desc"><b>Descuento</b>:</label>
          <input [(ngModel)]="productProductos.prod.descuento"  placeholder="Descuento" name="desc" class="form-control" id="desc">
      </div>
        <!--Boton de Añadir-->
      <button class="btn btn-success"[routerLink]="'/gestion-productos'">Añadir</button>
    
  </div>
  </div>