<form (submit)="loginUser($event)">

<div class="split left">
  <div class="centered">
    <!--Encabezado Vista-->
      <h2> Verificación de Identificación</h2>
    <img class="logo" class="rounded" alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Login.png">
    </div>
</div>

<div class="split right">
  <div class="centered">
      <div class="col">
          <!--Contenedor Usuario-->
          <input type="text" name="username" placeholder="Usuario" required>
          <!--Contenedor Contraseña-->
          <input type="password" name="password" placeholder="Contraseña" required>
          <!--Boton Login-->
          <input type="submit" [routerLink]="'/dahsboard'" value="Login">
        </div>
    
  </div>
</div>
</form>