<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Compras</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" [routerLink]="'/anadir-compras'"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">Descripción</th>
      <th>Fecha Real Compra</th>
      <th>Fecha Registro Compra</th>
      <th>Proveedor</th>
      <th>Foto de la Compra</th>
      <th>Sucursal Registro Compra</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.descripcion}}</td>
      <td>{{user.frealcomp}}</td>
      <td>{{user.fregcomp}}</td>
      <td>{{user.proveedor}}</td>
      <td>{{user.foto}}</td>
      <td>{{user.sucursal}}</td>
      <td><button class="btn btn-success" > Eliminar</button>
        <button class="btn btn-success" style="margin-left: 20px;" [routerLink]="'/editar-compras'"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>