<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Compras</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" > Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="hidden">ID</th>
      <th>Descripción</th>
      <th>Fecha Real Compra</th>
      <th>Fecha Registro Compra</th>
      <th>Proveedor</th>
      <th>Foto de la Compra</th>
      <th>Sucursal Registro Compra</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.ID}}</td>
      <td>{{user.Description}}</td>
      <td>{{user.RealDate}}</td>
      <td>{{user.RegistrationDate}}</td>
      <td>{{user.Supplier}}</td>
      <td>{{user.Image}}</td>
      <td>{{user.BranchOffice}}</td>
      <td><button class="btn btn-success" > Eliminar</button>
        <button style="margin-left: 20px;" routerLink ="/editar-compras/{{user.ID}}"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>