<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Roles</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" (click)="addUser()"> Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">#</th>
      <th>Sucursal</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Administrador</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>