<div class="split left">
  <div class="centered">
    <h2>Añadir Sucursal</h2>
    <img class="center"  alt="Responsive image" style="width:300px;height:300px;" src="../../../assets/img/Añadir.png">
  </div>
</div>

<div class="split right">
<div class="col-md-6 user-container">
    
    
      <div class="form-group">
        <label for="numsucursal"><b>Número Sucursal</b>:</label>
        <input formControlName="numsucursal" placeholder="Consecuente" name="numsucursal" class="form-control" id="numsucursal">
      </div>
  
      <div class="form-group">
        <label for="sucursal"><b>Sucursal</b></label>
        <input formControlName="sucursal" placeholder="Nombre Sucursal" name="sucursal" class="form-control" id="sucursal">
      </div>
  
      <div class="form-group">
        <label for="direccion"><b>Dirección</b></label>
        <input formControlName="direccion" placeholder="Dirección" name="direccion" class="form-control" id="direccion">
      </div>
  
      <div class="form-group">
        <label for="administrador"><b>Administrador</b></label>
        <input formControlName="administrador" placeholder="Administrador" name="administrador" class="form-control" id="administrador">
      </div>
    
      <button class="btn btn-success">Añadir</button>
    
  </div>
  </div>