<div class="col-md-12 user-container">
  <!--Encabezado Vista-->
  <h2 style="margin: auto; padding: 10px"> Listado de Productos Sucursal A</h2>
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <!--Division Tabla-->
      <th class="hidden">Código Barra</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Existencia</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <!--Informacion de la Tabla-->
      <td>{{user.productosa}}</td>
      <td>{{user.productosa}}</td>
      <td>{{user.descripcionsa}}</td>
      <td>{{user.preciosa}}</td>
      <td>{{user.existenciasa}}</td>
        </tr>
    </tbody>
  </table>
</div>