<div class="col-md-12 user-container">
  <h2 style="margin: auto; padding: 10px"> Gestionar Roles</h2>
  <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" > Agregar</button>
  <table class="table table-striped">
    <thead>
    <tr>
        <th></th>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      
      <th>Apellido 1</th>
      
      <th>Apellido 2</th>
      
      <th>Rol</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.ID}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.Tax}}</td>
      <td>{{user.Description}}</td>
      <td>{{user.Price}}</td>
      <td><button class="btn btn-success" > Eliminar</button>
        <button routerLink ="/editar-rol/{{user.ID}}"  style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>